// colors

$mainBg: #7d6b7d;
$mainText: #fff;
$mainTitleColor: #ff8c64;
$alertColor: #ff665a;
$newCardsColor: #fff587;
$newCardsPriority: #abda80;

$doneCardsBgColor: #a3a1a8;
$doneCardsButtonColor: #a8c0ce;
$doneCardsButtonHover: #768591;

$trDuration: 400ms;
