@font-face {
  font-family: "MyriadProRegular400";
  src: url("../fonts/MyriadProRegular400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyriadProBold600";
  src: url("../fonts/MyriadProBold600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}